body{
    background-color:black;
    color:gold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
 font-size: 80px;
}
h2{
    font-size: 50px;
}
p{
   font-size: 35px; 
}
button{
    background-color: gold;
    padding: 15px 20px;
    border-radius: 2cm;

}
a{
    color: black;
    text-decoration-line: none;
    font-size: medium;
}
button:hover{
    background-color:goldenrod;
   opacity: 3;
}